.login-pf body {
  background-image: url(https://keycloak-theme-images.vercel.app/images/training.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
